$color-bg: #e5dfdf; // theme主色
$color-font-title: #1d4d4f; // 标题
$color-font-vice: #357376; // 副标题
$color-light: #6ba8a9;
$color-font: #3e3e3e; // 正文
$font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB",
"Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

// 配色方案
$a: #e5dfdf;
$b: #6ba8a9;
$c: #357376;
$d: #1d4d4f;