@import './base.scss';

body {
  font-family: $font-family;
}

* {
  box-sizing: border-box;
}

.gWarp {
  color: #333;
  width: 1024px;
  margin: 50px auto;
  box-shadow: 0 0 30px rgb(201, 201, 201);
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  @media screen and (max-width: 1024px) {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}