@import "../base.scss";

.sectionHeader {
  overflow: hidden;
  color: $color-font;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 18px 0;
  white-space: nowrap;
  span {
    height: 0;
    width: 30%;
    border-top: 1px solid $color-light;
    vertical-align: middle;
  }
  h3 {
    border-radius: 32px;
    font-size: 24px;
    text-align: center;
    background-color: $b;
    color: #fff;
    min-width: 100px;
    padding: 8px 14px;
    margin: 0 10px;
  }
}